# Statistiques depuis la base Sirene

In [1]:
import pandas as pd 

sirene = pd.read_csv("siren.csv", sep = ';', encoding = "ISO-8859-1", dtype=object)

,siren,nic,l1_normalisee,l2_normalisee,l3_normalisee,l4_normalisee,l5_normalisee,l6_normalisee,l7_normalisee,l1_declaree,...,esaapen,esasec1n,esasec2n,esasec3n,esasec4n,vmaj,vmaj1,vmaj2,vmaj3,datemaj
0,005580501,00046,SOC GLACIERES FRIGO SAINT NAZAIRE,STEF LOGISTIQUE,NaN,93 BOULEVARD MALESHERBES,NaN,75008 PARIS,FRANCE,SOC GLACIERES FRIGO SAINT-NAZAIRE,...,5210A,5210A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-02T00:00:00
1,005780580,00030,IMMOBILIERE LOUIS THIRIET,NaN,NaN,52 RUE DE LA BIENFAISANCE,NaN,75008 PARIS,FRANCE,IMMOBILIERE LOUIS THIRIET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-11-13T00:00:00
2,006080014,00068,OUEST EUROPEENNE PARTICIP PLAC PROMO,NaN,NaN,12 B RUE THEODULE RIBOT,NaN,75017 PARIS,FRANCE,OUEST EUROPEENNE PARTICIP PLAC PROMO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-07-27T09:43:55
3,006080170,00043,COOP BREIZH,NaN,NaN,10 RUE DU MAINE,NaN,75014 PARIS,FRANCE,COOP BREIZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1960-01-01T00:00:00
4,015450711,00120,CIT AEROSPACE HOLDINGS FRANCE SAS,NaN,NaN,98 B BOULEVARD DE LA TOUR MAUBOURG,NaN,75007 PARIS,FRANCE,CIT AEROSPACE HOLDINGS (FRANCE) SAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-06-23T00:00:00

In [3]:
siren = sirene[['apet700', 'libapet', 'codpos', 'l4_normalisee']]
siren.codpos.unique()

array(['75008', '75017', '75014', '75007', '75009', '75012', '75010',
       '75013', '75006', '75001', '75011', '75002', '75004', '75019',
       '75018', '75016', '75003', '75116', '75015', '75020', '75005'], dtype=object)

In [4]:
siren = siren.replace('75116', '75016')
siren.codpos.unique()

array(['75008', '75017', '75014', '75007', '75009', '75012', '75010',
       '75013', '75006', '75001', '75011', '75002', '75004', '75019',
       '75018', '75016', '75003', '75015', '75020', '75005'], dtype=object)

In [5]:
# Commerce de détail non spécialisé (hyper, super, etc.)
com_detail_non_spe = siren[siren['apet700'].apply(lambda x : x[0:3])== "471"]
com_detail_non_spe.name = "Commerce de détail non spécialisé (hyper, super, etc.)"

# Commerce de détail alimentaire en magasin spécialisé (poissoneries, boucheries, etc.)
com_al_spe = siren[siren['apet700'].apply(lambda x : x[0:3] == "472")]
com_al_spe.name = "Commerce de détail alimentaire en magasin spécialisé"

    # Parmi eux, on a en particulier:
    # Magasins de fruits et légumes : 
legume = siren[siren['apet700'].apply(lambda x : x[0:4] == "4721")]
legume.name = "Magasins de fruits et légumes"    

    # Boucheries-charcuteries :
boucherie = siren[siren['apet700'].apply(lambda x : x[0:4] == "4722")]
boucherie.name = "Boucheries-charcuteries"

    # Poissonneries : 
poissonerie =   siren[siren['apet700'].apply(lambda x : x[0:4] == "4723")]
poissonerie.name = "Poissonneries"

    # Boulangeries, patisseries, confiseries : 
boulangerie = siren[siren['apet700'].apply(lambda x : x[0:4] == "4724")]
boulangerie.name = 'Boulangeries, patisseries, confiseries'

    # Commerce de détail de boissons
boisson = siren[siren['apet700'].apply(lambda x : x[0:4] == "4725")]
boisson.name = "Commerce de boissons"

    # Tabacs
tabac = siren[siren['apet700'].apply(lambda x : x[0:4] == "4726")]
tabac.name = "Tabacs"

In [6]:
# Commerce de culture (magasins de disques, etc.)
com_culture = siren[siren['apet700'].apply(lambda x : x[0:3] == "476")]
com_culture.name = "Commerce de culture"

# Mode (Commerces d'habillement, chaussures, maroquinerie)
mode = siren[siren['apet700'].apply(lambda x : x[0:4] == "4771" or x[0:4] == "4772")]
mode.name = 'Mode'

# Restaurants
resto = siren[siren['apet700'].apply(lambda x : x[0:3] == "561")]
resto.name = 'Restaurants'

# Traiteurs 
traiteur = siren[siren['apet700'].apply(lambda x : x[0:3] == "562")] 
traiteur.name = "Traiteurs"

# Bars 
bar = siren[siren['apet700'].apply(lambda x : x[0:3] == "563")]
bar.name = 'Bars'

In [7]:
# Etablissements pré-primaires (maternelle?)
pre_prim = siren[siren['apet700'].apply(lambda x : x[0:3] == "851")] 
pre_prim.name = "Etablissements pré-primaires"

#Enseignement primaire
ecole = siren[siren['apet700'].apply(lambda x : x[0:3] == "852")]
ecole.name = "Enseignement primaire"

# Enseignement secondaire 
secondaire = siren[siren['apet700'].apply(lambda x : x[0:3] == "853")]
secondaire.name = "Enseignement secondaire"


# Enseignement supérieur et post-secondaire
sup = siren[siren['apet700'].apply(lambda x : x[0:3] == "854")]
sup.name = "Enseignement supérieur et post-secondaire"

In [8]:
# Activités de santé 
sante = siren[siren['apet700'].apply(lambda x : x[0:2] == "86")]
sante.name = "Activités de santé"

In [9]:
# Bibliothèques, musées, act culturelles
cult = siren[siren['apet700'].apply(lambda x : x[0:3] == "910")]
cult.name = "Bibliothèques, musées, act culturelles"

    # Parmi eux, nous avons : 
bibli = siren[siren['apet700'].apply(lambda x : x[0:4] == "9101")] 
bibli.name = "Bibliothèques"

musee = siren[siren['apet700'].apply(lambda x : x[0:4] == "9102")]
musee.name = "Musées"

site = siren[siren['apet700'].apply(lambda x : x[0:4] == "9103")]
site.name = "Gestion sites monuments historiques & attractions tourist. simil."

jardin = siren[siren['apet700'].apply(lambda x : x[0:4] == "9104")]
jardin.name = "Gestion des jardins botaniques et zoologiques et des réserves naturelles"

In [10]:
# Arts, spectacles
spectacle = siren[siren['apet700'].apply(lambda x : x[0:2] == "90")]
spectacle.name = "Arts, spectacles"

# Activités sportives (gestion d'installations sportives, salles de sport, etc.)
sport = siren[siren['apet700'].apply(lambda x : x[0:3] == "931")]
sport.name = "Bibliothèques, musées, act culturelles"


# Activités récréatives et de loisirs (parcs d'attraction)
recre = siren[siren['apet700'].apply(lambda x : x[0:3] == "932")]
recre.name = "Activités récréatives et de loisirs (parcs d'attraction)"

In [11]:
# Blanchisseries
blanchisserie = siren[siren['apet700'].apply(lambda x : x[0:4] == "9601")]
blanchisserie.name = "Blanchisseries"

# Coiffures
coiffeur = siren[siren['apet700'].apply(lambda x : x[0:4] == "9602")]
coiffeur.name = "Coiffeurs"

In [12]:
# Services funéraires
funeraire = siren[siren['apet700'].apply(lambda x : x[0:4] == "9603")]
funeraire.name = "Services funéraires"

# Services d'entretien corporel (sauna, hammam, instituts de massage, etc.)
corporel = siren[siren['apet700'].apply(lambda x : x[0:4] == "9604")]
corporel.name = "Services d'entretien corporel"

In [13]:
activites = [com_detail_non_spe, boulangerie, boucherie, tabac, poissonerie, boisson, legume, com_culture, mode, resto, traiteur, bar, pre_prim, ecole, secondaire, sup,\
      sante, spectacle, bibli, site, musee, jardin, sport, recre, blanchisserie, coiffeur, funeraire, corporel]

In [14]:
siren.codpos.unique()

array(['75008', '75017', '75014', '75007', '75009', '75012', '75010',
       '75013', '75006', '75001', '75011', '75002', '75004', '75019',
       '75018', '75016', '75003', '75015', '75020', '75005'], dtype=object)

In [15]:
# Lister, par activité, les fréquences par arrondissement (de la plus forte à la moins forte)
from collections import Counter
import operator
def frequences(act):
    freq_act ={}
    for arr in act.codpos.unique() : 
        freq = dict(Counter(act.codpos))[arr]
        freq = freq/len(act)
        freq_act.update({arr : freq})
    return sorted(freq_act.items(), key = operator.itemgetter(1), reverse = True)

In [16]:
# Exemple : pour trouver l'arrondissement qui contient le plus de salons de coiffure : 
frequences(coiffeur)[0:3]

[('75018', 0.08870598994055784),
 ('75017', 0.07818930041152264),
 ('75015', 0.07636031092821216)]

In [29]:
# TOP 1 : 
for a in activites : 
    print(a.name, ":", frequences(a)[0])

Commerce de détail non spécialisé (hyper, super, etc.) : ('75018', 0.10996870809119356)
Boulangeries, patisseries, confiseries : ('75017', 0.07)
Boucheries-charcuteries : ('75018', 0.12439613526570048)
Tabacs : ('75015', 0.07834101382488479)
Poissonneries : ('75018', 0.1320754716981132)
Commerce de boissons : ('75017', 0.08982035928143713)
Magasins de fruits et légumes : ('75018', 0.11764705882352941)
Commerce de culture : ('75015', 0.08053265694356374)
Mode : ('75008', 0.09018153425727113)
Restaurants : ('75011', 0.07990477901545096)
Traiteurs : ('75015', 0.08933601609657947)
Bars : ('75011', 0.11517548195748888)
Etablissements pré-primaires : ('75019', 0.11461318051575932)
Enseignement primaire : ('75020', 0.10094637223974763)
Enseignement secondaire : ('75018', 0.08820286659316427)
Enseignement supérieur et post-secondaire : ('75005', 0.10204081632653061)
Activités de santé : ('75015', 0.09901818767101239)
Arts, spectacles : ('75018', 0.1175708378589531)
Bibliothèques : ('75013', 0.08)
Gestion sites monuments historiques & attractions tourist. simil. : ('75016', 0.09387755102040816)
Musées : ('75018', 0.09523809523809523)
Gestion des jardins botaniques et zoologiques et des réserves naturelles : ('75012', 0.25)
Bibliothèques, musées, act culturelles : ('75015', 0.0913516609392898)
Activités récréatives et de loisirs (parcs d'attraction) : ('75018', 0.09102605339337408)
Blanchisseries : ('75015', 0.11358734723220705)
Coiffeurs : ('75015', 0.09420603958965468)
Services funéraires : ('75014', 0.1210762331838565)
Services d'entretien corporel : ('75017', 0.09187279151943463)

In [28]:
# TOP1 : pas les 1er, 2e, 3e, 4e, 6e, 7e, 9e, 10e
# TOP2 : +6e et 7e
# TOP3 : +9e et 10e
# => pb pour les arrondissements 1, 2, 3 et 4.

[('75011', 0.11517548195748888),
 ('75018', 0.10034602076124567),
 ('75010', 0.0800790904597133),
 ('75009', 0.07365299060800791),
 ('75017', 0.05981216015818092),
 ('75020', 0.057834898665348494),
 ('75005', 0.04498269896193772),
 ('75015', 0.043499752842313395),
 ('75008', 0.04300543746910529),
 ('75012', 0.04201680672268908),
 ('75019', 0.04201680672268908),
 ('75004', 0.04201680672268908),
 ('75006', 0.04003954522985665),
 ('75013', 0.04003954522985665),
 ('75002', 0.04003954522985665),
 ('75001', 0.03806228373702422),
 ('75014', 0.03163618388531883),
 ('75003', 0.022738507167572912),
 ('75016', 0.022244191794364803),
 ('75007', 0.020761245674740483)]