# Statistiques depuis la base Sirene

In [1]:
import pandas as pd 

sirene = pd.read_csv("/home/eva/ENSAE/siren.csv", sep = ';', encoding = "ISO-8859-1", dtype=object)

In [2]:
siren = sirene[['apet700', 'libapet', 'codpos', 'l4_normalisee']]
siren.codpos.unique()

array(['75008', '75017', '75014', '75007', '75009', '75012', '75010',
       '75013', '75006', '75001', '75011', '75002', '75004', '75019',
       '75018', '75016', '75003', '75116', '75015', '75020', '75005'], dtype=object)

In [3]:
siren = siren.replace('75116', '75016')
siren.codpos.unique()

array(['75008', '75017', '75014', '75007', '75009', '75012', '75010',
       '75013', '75006', '75001', '75011', '75002', '75004', '75019',
       '75018', '75016', '75003', '75015', '75020', '75005'], dtype=object)

In [4]:
# Commerce de détail non spécialisé (hyper, super, etc.)
com_detail_non_spe = siren[siren['apet700'].apply(lambda x : x[0:3])== "471"]
com_detail_non_spe.name = "Commerce de détail non spécialisé (hyper, super, etc.)"

# Commerce de détail alimentaire en magasin spécialisé (poissoneries, boucheries, etc.)
com_al_spe = siren[siren['apet700'].apply(lambda x : x[0:3] == "472")]
com_al_spe.name = "Commerce de détail alimentaire en magasin spécialisé"

    # Parmi eux, on a en particulier:
    # Magasins de fruits et légumes : 
legume = siren[siren['apet700'].apply(lambda x : x[0:4] == "4721")]
legume.name = "Magasins de fruits et légumes"    

    # Boucheries-charcuteries :
boucherie = siren[siren['apet700'].apply(lambda x : x[0:4] == "4722")]
boucherie.name = "Boucheries-charcuteries"

    # Poissonneries : 
poissonerie =   siren[siren['apet700'].apply(lambda x : x[0:4] == "4723")]
poissonerie.name = "Poissonneries"

    # Boulangeries, patisseries, confiseries : 
boulangerie = siren[siren['apet700'].apply(lambda x : x[0:4] == "4724")]
boulangerie.name = 'Boulangeries, patisseries, confiseries'

    # Commerce de détail de boissons
boisson = siren[siren['apet700'].apply(lambda x : x[0:4] == "4725")]
boisson.name = "Commerce de boissons"

    # Tabacs
tabac = siren[siren['apet700'].apply(lambda x : x[0:4] == "4726")]
tabac.name = "Tabacs"

In [5]:
# Commerce de culture (magasins de disques, etc.)
com_culture = siren[siren['apet700'].apply(lambda x : x[0:3] == "476")]
com_culture.name = "Commerce de culture"

# Mode (Commerces d'habillement, chaussures, maroquinerie)
mode = siren[siren['apet700'].apply(lambda x : x[0:4] == "4771" or x[0:4] == "4772")]
mode.name = 'Mode'

# Restaurants
resto = siren[siren['apet700'].apply(lambda x : x[0:3] == "561")]
resto.name = 'Restaurants'

# Traiteurs 
traiteur = siren[siren['apet700'].apply(lambda x : x[0:3] == "562")] 
traiteur.name = "Traiteurs"

# Bars 
bar = siren[siren['apet700'].apply(lambda x : x[0:3] == "563")]
bar.name = 'Bars'

In [6]:
# Etablissements pré-primaires (maternelle?)
pre_prim = siren[siren['apet700'].apply(lambda x : x[0:3] == "851")] 
pre_prim.name = "Etablissements pré-primaires"

#Enseignement primaire
ecole = siren[siren['apet700'].apply(lambda x : x[0:3] == "852")]
ecole.name = "Enseignement primaire"

# Enseignement secondaire 
secondaire = siren[siren['apet700'].apply(lambda x : x[0:3] == "853")]
secondaire.name = "Enseignement secondaire"


# Enseignement supérieur et post-secondaire
sup = siren[siren['apet700'].apply(lambda x : x[0:3] == "854")]
sup.name = "Enseignement supérieur et post-secondaire"

In [7]:
# Activités de santé 
sante = siren[siren['apet700'].apply(lambda x : x[0:2] == "86")]
sante.name = "Activités de santé"

In [8]:
# Bibliothèques, musées, act culturelles
cult = siren[siren['apet700'].apply(lambda x : x[0:3] == "910")]
cult.name = "Bibliothèques, musées, act culturelles"

    # Parmi eux, nous avons : 
bibli = siren[siren['apet700'].apply(lambda x : x[0:4] == "9101")] 
bibli.name = "Bibliothèques"

musee = siren[siren['apet700'].apply(lambda x : x[0:4] == "9102")]
musee.name = "Musées"

site = siren[siren['apet700'].apply(lambda x : x[0:4] == "9103")]
site.name = "Gestion sites monuments historiques & attractions tourist. simil."

jardin = siren[siren['apet700'].apply(lambda x : x[0:4] == "9104")]
jardin.name = "Gestion des jardins botaniques et zoologiques et des réserves naturelles"

In [9]:
# Arts, spectacles
spectacle = siren[siren['apet700'].apply(lambda x : x[0:2] == "90")]
spectacle.name = "Arts, spectacles"

# Activités sportives (gestion d'installations sportives, salles de sport, etc.)
sport = siren[siren['apet700'].apply(lambda x : x[0:3] == "931")]
sport.name = "Bibliothèques, musées, act culturelles"


# Activités récréatives et de loisirs (parcs d'attraction)
recre = siren[siren['apet700'].apply(lambda x : x[0:3] == "932")]
recre.name = "Activités récréatives et de loisirs (parcs d'attraction)"

In [10]:
# Blanchisseries
blanchisserie = siren[siren['apet700'].apply(lambda x : x[0:4] == "9601")]
blanchisserie.name = "Blanchisseries"

# Coiffures
coiffeur = siren[siren['apet700'].apply(lambda x : x[0:4] == "9602")]
coiffeur.name = "Coiffeurs"

In [11]:
# Services funéraires
funeraire = siren[siren['apet700'].apply(lambda x : x[0:4] == "9603")]
funeraire.name = "Services funéraires"

# Services d'entretien corporel (sauna, hammam, instituts de massage, etc.)
corporel = siren[siren['apet700'].apply(lambda x : x[0:4] == "9604")]
corporel.name = "Services d'entretien corporel"

In [12]:
activites = [com_detail_non_spe, boulangerie, boucherie, tabac, poissonerie, boisson, legume, com_culture, mode, resto, traiteur, bar, pre_prim, ecole, secondaire, sup,\
      sante, spectacle, bibli, site, musee, jardin, sport, recre, blanchisserie, coiffeur, funeraire, corporel]

In [13]:
siren.codpos.unique()

array(['75008', '75017', '75014', '75007', '75009', '75012', '75010',
       '75013', '75006', '75001', '75011', '75002', '75004', '75019',
       '75018', '75016', '75003', '75015', '75020', '75005'], dtype=object)

In [14]:
# Lister, par activité, les fréquences par arrondissement (de la plus forte à la moins forte)
from collections import Counter
import operator
def frequences(act):
    freq_act ={}
    for arr in act.codpos.unique() : 
        freq = dict(Counter(act.codpos))[arr]
        freq = freq/len(act)
        freq_act.update({arr : freq})
    return sorted(freq_act.items(), key = operator.itemgetter(1), reverse = True)

In [15]:
# Exemple : pour trouver l'arrondissement qui contient le plus de salons de coiffure : 
frequences(coiffeur)[0:3]

[('75015', 0.09420603958965468),
 ('75017', 0.08712613784135241),
 ('75018', 0.07816789481288831)]

In [16]:
# TOP 1 : 
for a in activites : 
    print(a.name, ":", frequences(a)[0][0])

Commerce de détail non spécialisé (hyper, super, etc.) : 75018
Boulangeries, patisseries, confiseries : 75017
Boucheries-charcuteries : 75018
Tabacs : 75015
Poissonneries : 75018
Commerce de boissons : 75017
Magasins de fruits et légumes : 75018
Commerce de culture : 75015
Mode : 75008
Restaurants : 75011
Traiteurs : 75015
Bars : 75011
Etablissements pré-primaires : 75019
Enseignement primaire : 75020
Enseignement secondaire : 75018
Enseignement supérieur et post-secondaire : 75005
Activités de santé : 75015
Arts, spectacles : 75018
Bibliothèques : 75013
Gestion sites monuments historiques & attractions tourist. simil. : 75016
Musées : 75018
Gestion des jardins botaniques et zoologiques et des réserves naturelles : 75012
Bibliothèques, musées, act culturelles : 75015
Activités récréatives et de loisirs (parcs d'attraction) : 75018
Blanchisseries : 75015
Coiffeurs : 75015
Services funéraires : 75014
Services d'entretien corporel : 75017

In [17]:
# TOP1 : pas les 1er, 2e, 3e, 4e, 6e, 7e, 9e, 10e
# TOP2 : +6e et 7e
# TOP3 : +9e et 10e
# => pb pour les arrondissements 1, 2, 3 et 4.

In [18]:
superficies = {'75001': 1.83, '75002': 0.99, '75003': 1.17, '75004': 1.6, '75005': 2.54, '75006': 2.15, '75007': 4.09,\
              '75008': 3.88, '75009':2.18 , '75010': 2.89, '75011': 3.67, '75012': 6.38, '75013': 7.15, '75014': 5.62, \
                '75015': 8.5, '75016': 7.85, '75017': 5.67, '75018': 6.01, '75019': 6.79, '75020': 5.98}

In [19]:
def activites_km2(act):
    activites_km2={}
    for arr in act.codpos.unique():
        act_km2 = dict(Counter(act.codpos))[arr]
        act_km2 = act_km2 / superficies[arr]
        activites_km2.update({arr : act_km2})
    return sorted(activites_km2.items(), key = operator.itemgetter(1), reverse = True)

In [20]:
# TOP 3 : 
for a in activites : 
    print(a.name, ":", activites_km2(a)[0][0],',', activites_km2(a)[1][0], ',', activites_km2(a)[2][0])

Commerce de détail non spécialisé (hyper, super, etc.) : 75010 , 75009 , 75011
Boulangeries, patisseries, confiseries : 75002 , 75004 , 75006
Boucheries-charcuteries : 75010 , 75018 , 75011
Tabacs : 75002 , 75004 , 75005
Poissonneries : 75010 , 75018 , 75006
Commerce de boissons : 75002 , 75003 , 75009
Magasins de fruits et légumes : 75009 , 75010 , 75018
Commerce de culture : 75009 , 75005 , 75002
Mode : 75002 , 75003 , 75001
Restaurants : 75002 , 75009 , 75010
Traiteurs : 75002 , 75009 , 75003
Bars : 75002 , 75009 , 75011
Etablissements pré-primaires : 75011 , 75020 , 75019
Enseignement primaire : 75020 , 75003 , 75005
Enseignement secondaire : 75009 , 75003 , 75006
Enseignement supérieur et post-secondaire : 75005 , 75006 , 75003
Activités de santé : 75011 , 75009 , 75003
Arts, spectacles : 75011 , 75003 , 75010
Bibliothèques : 75002 , 75004 , 75006
Gestion sites monuments historiques & attractions tourist. simil. : 75002 , 75001 , 75004
Musées : 75003 , 75004 , 75006
Gestion des jardins botaniques et zoologiques et des réserves naturelles : 75009 , 75005 , 75012
Bibliothèques, musées, act culturelles : 75002 , 75009 , 75008
Activités récréatives et de loisirs (parcs d'attraction) : 75002 , 75003 , 75011
Blanchisseries : 75009 , 75011 , 75010
Coiffeurs : 75010 , 75002 , 75009
Services funéraires : 75014 , 75011 , 75018
Services d'entretien corporel : 75009 , 75002 , 75003

In [21]:
# Pb pour les arrondissements:  7, 13, 15, 16, 17

In [79]:
[x[0] for x in activites_km2(coiffeur)]

['75010',
 '75002',
 '75009',
 '75003',
 '75011',
 '75017',
 '75008',
 '75001',
 '75018',
 '75006',
 '75015',
 '75004',
 '75020',
 '75012',
 '75014',
 '75016',
 '75005',
 '75019',
 '75013',
 '75007']

In [81]:
list_ = []
df = pd.DataFrame()
for a in activites : 
    act = pd.Series([x[0] for x in activites_km2(a)])
    df[a.name] = act

In [82]:
df

,"Commerce de détail non spécialisé (hyper, super, etc.)","Boulangeries, patisseries, confiseries",Boucheries-charcuteries,Tabacs,Poissonneries,Commerce de boissons,Magasins de fruits et légumes,Commerce de culture,Mode,Restaurants,...,Bibliothèques,Gestion sites monuments historiques & attractions tourist. simil.,Musées,Gestion des jardins botaniques et zoologiques et des réserves naturelles,"Bibliothèques, musées, act culturelles",Activités récréatives et de loisirs (parcs d'attraction),Blanchisseries,Coiffeurs,Services funéraires,Services d'entretien corporel
0,75010,75002,75010,75002,75010,75002,75009,75009,75002,75002,...,75002,75002,75003,75009,75002,75002,75009,75010,75014,75009
1,75009,75004,75018,75004,75018,75003,75010,75005,75003,75009,...,75004,75001,75004,75005,75009,75003,75011,75002,75011,75002
2,75011,75006,75011,75005,75006,75009,75018,75002,75001,75010,...,75006,75004,75006,75012,75008,75011,75010,75009,75018,75003
3,75018,75009,75020,75006,75003,75011,75011,75006,75006,75003,...,75005,75005,75011,75008,75003,75010,75017,75003,75010,75011
4,75003,75003,75009,75008,75016,75008,75002,75001,75004,75011,...,75010,75007,75001,75016,75011,75009,75018,75011,75017,75017
5,75002,75001,75017,75011,75005,75004,75014,75004,75009,75001,...,75001,75008,75009,75019,75017,75018,75002,75017,75008,75008
6,75017,75005,75019,75001,75009,75010,75020,75010,75008,75005,...,75009,75009,75008,NaN,75010,75017,75003,75008,75020,75010
7,75020,75010,75002,75009,75017,75005,75017,75003,75010,75004,...,75003,75010,75010,NaN,75005,75005,75015,75001,75012,75001
8,75004,75008,75012,75010,75002,75017,75012,75011,75011,75006,...,75020,75003,75018,NaN,75013,75001,75016,75018,75005,75018
9,75005,75017,75015,75012,75015,75006,75003,75008,75017,75008,...,75013,75011,75012,NaN,75012,75020,75020,75006,75019,75015
10,75019,75007,75005,75020,75012,75001,75015,75017,75018,75018,...,75007,75006,75016,NaN,75004,75008,75012,75015,75015,75006
11,75001,75011,75014,75018,75011,75007,75019,75012,75007,75017,...,75011,75016,75019,NaN,75006,75019,75014,75004,75013,75005
12,75006,75012,75004,75014,75019,75018,75006,75015,75016,75020,...,75018,75014,75020,NaN,75020,75006,75004,75020,75004,75012
13,75008,75020,75013,75016,75014,75016,75016,75007,75015,75015,...,75014,75018,75014,NaN,75019,75004,75005,75012,75016,75004
14,75014,75016,75016,75015,75004,75014,75013,75014,75005,75012,...,75017,75013,75015,NaN,75015,75012,75019,75014,75003,75014
15,75015,75018,75006,75013,75007,75015,75004,75018,75020,75014,...,75019,75020,75007,NaN,75016,75015,75008,75016,75007,75020
16,75013,75014,75001,75019,75020,75012,75005,75020,75014,75019,...,75012,75015,75002,NaN,75014,75013,75006,75005,75009,75019
17,75012,75019,75007,75007,75008,75020,75007,75013,75019,75013,...,75015,75012,75017,NaN,75018,75014,75001,75019,NaN,75016
18,75016,75015,75008,75017,75013,75013,75008,75016,75012,75007,...,75008,75017,75013,NaN,75001,75016,75013,75013,NaN,75007
19,75007,75013,75003,75003,NaN,75019,75001,75019,75013,75016,...,75016,75019,75005,NaN,75007,75007,75007,75007,NaN,75013

In [83]:
df.to_csv('sirene_ranking.csv')