# Statistiques depuis la base Sirene

In [1]:
import pandas as pd 

sirene = pd.read_csv("/home/eva/ENSAE/siren.csv", sep = ';', encoding = "ISO-8859-1", dtype=object)

In [2]:
siren = sirene[['apet700', 'libapet', 'codpos', 'l4_normalisee']]
siren.codpos.unique()

array(['75008', '75017', '75014', '75007', '75009', '75012', '75010',
       '75013', '75006', '75001', '75011', '75002', '75004', '75019',
       '75018', '75016', '75003', '75116', '75015', '75020', '75005'], dtype=object)

In [3]:
siren = siren.replace('75116', '75016')
siren.codpos.unique()

array(['75008', '75017', '75014', '75007', '75009', '75012', '75010',
       '75013', '75006', '75001', '75011', '75002', '75004', '75019',
       '75018', '75016', '75003', '75015', '75020', '75005'], dtype=object)

In [4]:
# Commerce de détail non spécialisé (hyper, super, etc.)
com_detail_non_spe = siren[siren['apet700'].apply(lambda x : x[0:3])== "471"]
com_detail_non_spe.name = "Commerce de détail non spécialisé (hyper, super, etc.)"

# Commerce de détail alimentaire en magasin spécialisé (poissoneries, boucheries, etc.)
com_al_spe = siren[siren['apet700'].apply(lambda x : x[0:3] == "472")]
com_al_spe.name = "Commerce de détail alimentaire en magasin spécialisé"

    # Parmi eux, on a en particulier:
    # Magasins de fruits et légumes : 
legume = siren[siren['apet700'].apply(lambda x : x[0:4] == "4721")]
legume.name = "Magasins de fruits et légumes"    

    # Boucheries-charcuteries :
boucherie = siren[siren['apet700'].apply(lambda x : x[0:4] == "4722")]
boucherie.name = "Boucheries-charcuteries"

    # Poissonneries : 
poissonerie =   siren[siren['apet700'].apply(lambda x : x[0:4] == "4723")]
poissonerie.name = "Poissonneries"

    # Boulangeries, patisseries, confiseries : 
boulangerie = siren[siren['apet700'].apply(lambda x : x[0:4] == "4724")]
boulangerie.name = 'Boulangeries, patisseries, confiseries'

    # Commerce de détail de boissons
boisson = siren[siren['apet700'].apply(lambda x : x[0:4] == "4725")]
boisson.name = "Commerce de boissons"

    # Tabacs
tabac = siren[siren['apet700'].apply(lambda x : x[0:4] == "4726")]
tabac.name = "Tabacs"

In [11]:
# Commerce de culture (magasins de disques, etc.)
com_culture = siren[siren['apet700'].apply(lambda x : x[0:3] == "476")]
com_culture.name = "Commerce de culture"

# Mode (Commerces d'habillement, chaussures, maroquinerie)
habillement = siren[siren['apet700'].apply(lambda x : x[0:4] == "4771")]
habillement.name = 'Habillement'

accessoires = siren[siren['apet700'].apply(lambda x : x[0:4] == "4772")]
accessoires.name = 'Chaussures et sacs'

mode = siren[siren['apet700'].apply(lambda x : x[0:4] == "4771" or x[0:4] == "4772")]
mode.name = 'Mode (habillement + accessoires)'


# Restaurants
resto = siren[siren['apet700'].apply(lambda x : x[0:5] == "5610A")]
resto.name = 'Restaurants traditionnels'

restoRapide = siren[siren['apet700'].apply(lambda x : x[0:5] == "5610C")]
restoRapide.name = 'Restauration rapide'

# Traiteurs 
traiteur = siren[siren['apet700'].apply(lambda x : x[0:3] == "562")] 
traiteur.name = "Traiteurs"

# Bars 
bar = siren[siren['apet700'].apply(lambda x : x[0:3] == "563")]
bar.name = 'Bars'

In [6]:
# Etablissements pré-primaires (maternelle?)
pre_prim = siren[siren['apet700'].apply(lambda x : x[0:3] == "851")] 
pre_prim.name = "Etablissements pré-primaires"

#Enseignement primaire
ecole = siren[siren['apet700'].apply(lambda x : x[0:3] == "852")]
ecole.name = "Enseignement primaire"

# Enseignement secondaire 
secondaire = siren[siren['apet700'].apply(lambda x : x[0:3] == "853")]
secondaire.name = "Enseignement secondaire"


# Enseignement supérieur et post-secondaire
sup = siren[siren['apet700'].apply(lambda x : x[0:3] == "854")]
sup.name = "Enseignement supérieur et post-secondaire"

In [7]:
# Activités de santé 
sante = siren[siren['apet700'].apply(lambda x : x[0:2] == "86")]
sante.name = "Activités de santé"

In [8]:
# Bibliothèques, musées, act culturelles
cult = siren[siren['apet700'].apply(lambda x : x[0:3] == "910")]
cult.name = "Bibliothèques, musées, act culturelles"

    # Parmi eux, nous avons : 
bibli = siren[siren['apet700'].apply(lambda x : x[0:4] == "9101")] 
bibli.name = "Bibliothèques"

musee = siren[siren['apet700'].apply(lambda x : x[0:4] == "9102")]
musee.name = "Musées"

site = siren[siren['apet700'].apply(lambda x : x[0:4] == "9103")]
site.name = "Gestion sites monuments historiques & attractions tourist. simil."

jardin = siren[siren['apet700'].apply(lambda x : x[0:4] == "9104")]
jardin.name = "Gestion des jardins botaniques et zoologiques et des réserves naturelles"

In [9]:
# Arts, spectacles
spectacle = siren[siren['apet700'].apply(lambda x : x[0:2] == "90")]
spectacle.name = "Arts, spectacles"

# Activités sportives (gestion d'installations sportives, salles de sport, etc.)
sport = siren[siren['apet700'].apply(lambda x : x[0:3] == "931")]
sport.name = "Activités sportives"


# Activités récréatives et de loisirs (parcs d'attraction)
recre = siren[siren['apet700'].apply(lambda x : x[0:3] == "932")]
recre.name = "Activités récréatives et de loisirs (parcs d'attraction)"

In [10]:
# Blanchisseries
blanchisserie = siren[siren['apet700'].apply(lambda x : x[0:4] == "9601")]
blanchisserie.name = "Blanchisseries"

# Coiffures
coiffeur = siren[siren['apet700'].apply(lambda x : x[0:4] == "9602")]
coiffeur.name = "Coiffeurs"

In [12]:
# Services funéraires
funeraire = siren[siren['apet700'].apply(lambda x : x[0:4] == "9603")]
funeraire.name = "Services funéraires"

# Services d'entretien corporel (sauna, hammam, instituts de massage, etc.)
corporel = siren[siren['apet700'].apply(lambda x : x[0:4] == "9604")]
corporel.name = "Services d'entretien corporel"

In [13]:
activites = [com_detail_non_spe, boulangerie, boucherie, tabac, poissonerie, boisson, legume, com_culture, mode, habillement, accessoires, resto, restoRapide, traiteur, bar, pre_prim, ecole, secondaire, sup, sante, spectacle, bibli, site, musee, jardin, sport, recre, blanchisserie, coiffeur, funeraire, corporel]

In [14]:
siren.codpos.unique()

array(['75008', '75017', '75014', '75007', '75009', '75012', '75010',
       '75013', '75006', '75001', '75011', '75002', '75004', '75019',
       '75018', '75016', '75003', '75015', '75020', '75005'], dtype=object)

In [15]:
# Lister, par activité, les fréquences par arrondissement (de la plus forte à la moins forte)
from collections import Counter
import operator
def frequences(act):
    freq_act ={}
    for arr in act.codpos.unique() : 
        freq = dict(Counter(act.codpos))[arr]
        freq = freq/len(act)
        freq_act.update({arr : freq})
    return sorted(freq_act.items(), key = operator.itemgetter(1), reverse = True)

In [16]:
# Exemple : pour trouver l'arrondissement qui contient le plus de salons de coiffure : 
frequences(sport)[0:3]

[('75015', 0.0913516609392898),
 ('75013', 0.08705612829324169),
 ('75016', 0.08218785796105384)]

In [17]:
# TOP 1 : 
for a in activites : 
    print(a.name)
    #print(a.name, ":", frequences(a)[0][0])

Commerce de détail non spécialisé (hyper, super, etc.)
Boulangeries, patisseries, confiseries
Boucheries-charcuteries
Tabacs
Poissonneries
Commerce de boissons
Magasins de fruits et légumes
Commerce de culture
Mode (habillement + accessoires)
Habillement
Chaussures et sacs
Restaurants traditionnels
Restauration rapide
Traiteurs
Bars
Etablissements pré-primaires
Enseignement primaire
Enseignement secondaire
Enseignement supérieur et post-secondaire
Activités de santé
Arts, spectacles
Bibliothèques
Gestion sites monuments historiques & attractions tourist. simil.
Musées
Gestion des jardins botaniques et zoologiques et des réserves naturelles
Activités sportives
Activités récréatives et de loisirs (parcs d'attraction)
Blanchisseries
Coiffeurs
Services funéraires
Services d'entretien corporel

In [18]:
# TOP1 : pas les 1er, 2e, 3e, 4e, 6e, 7e, 9e, 10e
# TOP2 : +6e et 7e
# TOP3 : +9e et 10e
# => pb pour les arrondissements 1, 2, 3 et 4.

In [19]:
superficies = {'75001': 1.83, '75002': 0.99, '75003': 1.17, '75004': 1.6, '75005': 2.54, '75006': 2.15, '75007': 4.09,\
              '75008': 3.88, '75009':2.18 , '75010': 2.89, '75011': 3.67, '75012': 6.38, '75013': 7.15, '75014': 5.62, \
                '75015': 8.5, '75016': 7.85, '75017': 5.67, '75018': 6.01, '75019': 6.79, '75020': 5.98}

In [20]:
def activites_km2(act):
    activites_km2={}
    for arr in act.codpos.unique():
        act_km2 = dict(Counter(act.codpos))[arr]
        act_km2 = act_km2 / superficies[arr]
        activites_km2.update({arr : act_km2})
    return activites_km2
    #return sorted(activites_km2.items(), key = operator.itemgetter(1), reverse = True)

In [23]:
list_ = []
df = pd.DataFrame()
for a in activites : 
    act = pd.Series(activites_km2(a))
    df[a.name] = act

df.head()

,"Commerce de détail non spécialisé (hyper, super, etc.)","Boulangeries, patisseries, confiseries",Boucheries-charcuteries,Tabacs,Poissonneries,Commerce de boissons,Magasins de fruits et légumes,Commerce de culture,Mode (habillement + accessoires),Habillement,...,Bibliothèques,Gestion sites monuments historiques & attractions tourist. simil.,Musées,Gestion des jardins botaniques et zoologiques et des réserves naturelles,Activités sportives,Activités récréatives et de loisirs (parcs d'attraction),Blanchisseries,Coiffeurs,Services funéraires,Services d'entretien corporel
75001,45.355191,9.289617,5.464481,3.278689,NaN,9.836066,0.546448,71.584699,427.322404,332.786885,...,3.825137,9.836066,4.371585,NaN,30.054645,34.972678,9.836066,90.163934,NaN,24.043716
75002,71.717172,19.191919,10.101010,7.070707,2.020202,24.242424,8.080808,88.888889,573.737374,514.141414,...,9.090909,10.101010,1.010101,NaN,58.585859,93.939394,21.212121,174.747475,NaN,52.525253
75003,72.649573,11.965812,2.564103,0.854701,2.564103,20.512821,5.982906,54.700855,481.196581,391.452991,...,3.418803,3.418803,12.820513,NaN,50.427350,81.196581,18.803419,142.735043,0.854701,41.025641
75004,55.625000,15.625000,6.875000,5.625000,1.250000,16.250000,3.125000,65.625000,313.750000,245.625000,...,8.125000,9.375000,7.500000,NaN,40.000000,30.625000,12.500000,70.625000,1.875000,16.250000
75005,50.000000,8.267717,7.480315,4.724409,2.362205,14.173228,2.755906,94.881890,61.023622,49.212598,...,6.299213,7.874016,0.393701,0.393701,42.519685,36.220472,11.811024,58.267717,2.362205,16.535433

In [25]:
df.to_csv('sirene_surface.csv')